
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(242, 249, 17);
    background-color: transparent;
    text-decoration: none;
}
h1{
	font-size: 50px;
	font-weight: bold;
	padding: 10px auto 30px 0px;
	margin: 10px auto 5px 15px;
}
em{
	color: red;
}

header{
	color: white;
	background-color: red; 
	margin: 5px -20px 10px -20px;
	padding: 20px 20px 25px 15px;
	font-size: 26px;
	font-weight: bold;
	font-family: Arial italic;
	}
section{

	font-size: 18px;
	font-family: italic;
	margin: 5px 0px 10px 15px;
	padding: 10px
}
hr{
	margin: 0px 390px 0px 15px;
	border-color: red;
}
.hr2{
	margin: 0px 300px 0px 5px;
	border-color: red;
}
.section2{
	font-size: 18px;
	font-family: italic;
	margin: 5px 0px 10px 10px;
}
.h33{
	color: red;
}
address{
	font-size: 15px;
	font-family: italic;
	margin: 5px 0px 10px 15px;
}
.section3{
	background-color: rgba(188, 135, 135, 0.5);
	position: absolute;
	left: 950px;
	top: 140px;
	right: 50px;
	z-index: 5;
	border: 2px solid red;
	margin: 45px 5px 10px 5px;

}
.h34{
	color: red;
	font-size: 20px;
	margin: 20px auto 5px auto;
}
.p1{
	font-size: 15px;
}
.strong2{
	color: red;
}
body{
	background-color: ;
}
address{
	margin: auto auto auto 25px;
}