
ol{
	font-family:normal;
	font-weight:450;
	font-style:chaucer;
	font-size:20px;
}
h1{
  font-family:moonglow;
	font-weight:700;
    font-style:static;
	font-size:34px;
	background-color:#56e2a1;
	border-top:3px solid green;
	border-bottom:3px solid green;
	margin:0px; /* top right bottom left*/

}
	
ul{
	font-family:normal;
	font-weight:500;
	font-style:chaucer;
	font-size:20px;
	}
div{

	background-color:#b0e5cc;
	border-left:3px solid green;
	border-right:3px solid green;
	
	
}
